.main {
    min-height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    background: #000;
    border-bottom: 1px solid #333;
    text-align: center;
}

.header h1 {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.header p {
    color: #888;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    overflow: auto;
}